extends default

block header

block content
    div.recipe_card
        div.recipe_card-image(style=`background: url('/public/images/${recipe.imgSrc}') top center
        no-repeat; background-size: cover;`)
        div.recipe_card-details
            h1.recipe_card-name
                | #{recipe.name}
            br
            h3.recipe_card-category
                | #{recipe.category}
            br
            p.recipe_card-description
                | #{recipe.description}
            br
            p.recipe_card-ingredients
                table#alternative_table
                    tr
                        th.align-left Ingredient
                        th.align-left Environmental Impact
                        th.align-left Alternative

                    each val in recipe.ingredients
                        tr
                            td(class="align-left", id='')= val.name
                            td.align-left=val.issue
                            td
                                if val.alternatives
                                    select(name='alternativeDropDown', id='dropdown')
                                       each alternative in val.alternatives
                                         option(value=alternative) #{alternative}
                                    button#select Choose
            a.button.button-home(href=`/`)
                | Home




